* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}


.root-wrapper {
  /*background: red;*/
}

.br {
  border-radius: 10px;
  box-shadow: 6px 6px 25px 3px rgba(34, 60, 80, 0.2);
  transition: 0.5s;
  padding: 15px;
}

.br:hover,
.br:focus {
  transition: all 0.3s ease-in-out 0s;
  box-shadow: 0 0 60px rgba(0, 255, 203, 0.64);
  transform: translateY(-10px);
}